* {
    font-family: Helvetica;
    background-color: #000000;
}

div.container {
   /* border: 1px solid #D6D6D6; */
}

h1 {
    font-weight: bold;
    font-size: 57px;
    transform: scaleY(2);
    font-family: "Bebas Neue";
    color: #c3e28d;
}

h2 {
    font-weight: 500;
    font-size: 18px;
}

/* Header Section */

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 171px;
}

header h1 {
    flex-basis: 500px;
    align-items: center;
}

.nav-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-project {
    flex-basis: 100px;
    border-radius: 10px;
    min-width: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 57px;
    transform: scaleY(2);
    font-family: "Bebas Neue";
    color: #c3e28d;
}

.nav-about {
    flex-basis: 100px;
    border-radius: 10px;
    min-width: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 57px;
    transform: scaleY(2);
    font-family: "Bebas Neue";
    color: #c3e28d;
}

.nav-contact {
    flex-basis: 100px;
    border-radius: 10px;
    min-width: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 57px;
    transform: scaleY(2);
    font-family: "Bebas Neue";
    color: #c3e28d;
}

.nav-button {
    text-decoration: none;
    color: black
}

.nav:hover {
    background-color: #B8B8B8;
}

.nav:active {
    background-color: #969696;
}


/* Project Accordion */


.accordion {
    background-color: #000;
    color: #c3e28d;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    text-align: left;
    outline: none;
    font-size: 32px;
    font-family: "Bebas Neue";
    transition: 0.8s;
}

.active, .accordion:hover {
}

.accordion:after {
    content: '\002B';
    color: #c3e28d;
    font-family: "Bebas Neue";
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease-out;
    display: flex;
}

img {
    background-color: #000;
    height: 60%;
    aspect-ratio: 1/1;
}

p {
    color: #c3e28d;
    font-size: 32px;
    text-align: left;
    font-family: "Bebas Neue";
}

h3 {
    color: #c3e28d;
    font-size: 45px;
    text-align: left;
    font-family: "Bebas Neue";
}

.index {
    color: #c3e28d;
    font-size: 32px;
    text-align: left;
    font-family: "Bebas Neue";
}

.carousel {
    height:1000px;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    z-index: 1;
}